.card { 
    width: 15rem;
    margin-right: 1rem;
}

.recipe {
    position: relative;
    &--like {
        font-size: 1.4rem;
        color: white;
        position: absolute;
        right: 0;
        margin: .5rem;
    }
}

    
