.card { 
    width: 13.5rem;
    margin-right: 1rem;
    border: none;

   &__heart {
       position: absolute;
       right: 0;
       margin: .5rem;
       svg {
           fill: red;
       }
   }

    &__content {
        padding: .75rem;
        &--title {
            margin-bottom: 0;
        }

        &--rating {
            .fa-star {
                color: orange;
                font-size: .75rem;
            }
        }

    }

}
    
