.navigation {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(8,19,68,.1);
  padding: .5rem 1rem;
  &__logo {
    height: 2rem;
    width: 2rem;
  }

  i {
    font-size: 1.4rem;
    color: #f81307;
    cursor: pointer;
  }
}